.section-title_type_parents {
	margin: 0px 0 360px;
	width: 300%;
	font-style: normal;
	font-weight: 1000;
	font-size: 180px;
	line-height: 204px;
	text-align: center;
	letter-spacing: -3px;
	color: #252525;
	position: absolute;
	top: 300px;
	transform: translateZ(-2px);
}

@media screen and (max-width: 1300px) {
	.section-title_type_parents {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 744px) {
	.section-title_type_parents {
		font-size: 144px;
		line-height: 177px;
		top: -300px;
		margin-bottom: 240px;
	}
}

@media screen and (max-width: 640px) {
	.section-title_type_parents {
		font-size: 108px;
		line-height: 132px;
		max-width: 900px;
		margin-bottom:150px;
		top: -500px;
	}
}
