.section-title_type_parents {
	position: absolute;
	top: 300px;
	width: 300%;
	margin: 0 0 360px;
	color: #252525;
	font-weight: 1000;
	font-size: 180px;
	font-style: normal;
	line-height: 204px;
	letter-spacing: -3px;
	text-align: center;
	transform: translateZ(-2px);
}

@media screen and (max-width: 1300px) {
	.section-title_type_parents {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 744px) {
	.section-title_type_parents {
		top: -300px;
		margin-bottom: 240px;
		font-size: 144px;
		line-height: 177px;
	}
}

@media screen and (max-width: 640px) {
	.section-title_type_parents {
		top: -500px;
		max-width: 900px;
		margin-bottom: 150px;
		font-size: 108px;
		line-height: 132px;
	}
}
