.parents__reason {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: flex-start;
	max-width: 876px;
	aspect-ratio: 292 / 277;
	border-radius: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 640px) {
	.parents__reason {
		max-width: 900px;
		aspect-ratio: 300 / 400;
		border-radius: 90px;
		justify-content: center;
		align-items: center;
	}
}
