.help {
	padding: 120px 0 120px;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items:flex-start;
}

@media screen and (max-width: 990px) {
	.help {
		padding: 80px 75px 80px;
	}
}

@media screen and (max-width: 480px) {
	.help {
		padding: 30px 15px 30px;
	}
}
