.parents__container {
	position: absolute;
	top: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 0 0 211px;
	background-color: #eaf0ff;
	transform: translateZ(-2px);
}

@media screen and (max-width: 1300px) {
	.parents__container {
		padding-bottom: 80px;
	}
}

@media screen and (max-width: 1100px) {
	.parents__container {
		top: 80vw;
	}
}

@media screen and (max-width: 770px) {
	.parents__container {
		top: 60vw;
	}
}

@media screen and (max-width: 640px) {
	.parents__container {
		top: 0;
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 500px) {
	.parents__container {
		top: 0;
	}
}
