.team{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	padding: 120px 120px 0;
	background-color: #ffffff;
	border-radius: 60px;
}

@media screen and (max-width: 768px) {
	.team {
		padding-left: 75px;
		padding-right: 75px;
	}
}

@media screen and (max-width: 480px) {
	.team {
		padding-left: 10px;
		padding-right: 10px;
	}
}
