.help__block-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 133px;
	box-sizing: border-box;
	min-height: 431px;
	margin: 0;
	padding: 30px;
	border-radius: 60px;
}

@media screen and (max-width: 480px) {
	.help__block-container {
		row-gap: 34px;
		min-width: 290px;
		min-height: 290px;
		padding: 15px;
		border-radius: 30px;
	}
}
