.parents__reasons {
	position: absolute;
	top: 1060px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: stretch;
	align-items: stretch;
	gap: 30px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	transform: translateZ(-2px);
}

@media screen and (max-width: 1300px) {
	.parents__reasons {
		top: 900px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 744px) {
	.parents__reasons {
		top: 300px;
	}
}

@media screen and (max-width: 640px) {
	.parents__reasons {
		top: 50px;
		grid-template-columns: repeat(1, 1fr);
	}
}
