.parents__reasons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 876px);
	grid-template-rows: repeat(auto-fit, 831px);
	gap: 30px;
	justify-items: stretch;
	align-items: stretch;
}

@media screen and (max-width: 1300px) {
	.parents__reasons {
		grid-template-columns: repeat(2, 876px);
		grid-template-rows: repeat(auto-fit, 831px);

	}
}

@media screen and (max-width: 640px) {
	.parents__reasons {
		grid-template-columns: repeat(1, 900px);
		grid-template-rows: repeat(auto-fit, 1200px);
	}
}
