.parents {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	margin: 0 0 0 0;
	padding: 109px 0 0;
	overflow: hidden;
	overflow-y: auto;
	background-color: #ffffff;
	perspective: 1px;
}

@media screen and (max-width: 1300px) {
	.parents {
		height: 100vh;
	}
}

@media screen and (max-width: 768px) {
	.parents {
		margin: 0;
		padding-top: 40px;
	}
}

@media screen and (max-width: 640px) {
	.parents {
		height: 110vh;
		padding-top: 30px;
	}
}
