.parents {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	min-height: 110vh;
	margin: 0;
	padding: 109px 0 0;
	overflow: hidden;
	overflow-y: auto;
	background-color: #ffffff;
	perspective: 1px;
}

@media screen and (max-width: 768px) {
	.parents {
		padding-top: 30px;
	}
}
